* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.flex {
  display: flex;
  gap: 5px;
}

.flex-ali {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

body {
  padding: 2% 5% 2% 5%;
  color: white;
  background-image: url(./img/background.jpg);
  background-size: cover;
  font-family: "Pixelify Sans";
}

.non-pixel {
    font-family: "Sour Gummy";
}

.main-section {
  grid-area: main;
}

.current-conditions-others {
  grid-area: other;
}

.future-forecasts {
  grid-area: future;
}

.circles {
    grid-area: decorate;
}

.box {
  background-color: rgba(3, 3, 3, 0.49);
  border-radius: 30px;
  padding: 20px;
}

button {
  cursor: pointer;
  width: 70px;
  background-color: white;
  border-radius: 10px;
  font-family: "Sour Gummy";
  font-size: 24px;
  transition:0.5s;
}

button:hover {
    background-color: rgb(8, 95, 113);
    color: white;
}
/*MAIN CONTAINER*/

.main-content,
.main-section {
  gap: 15px;
  padding: 10px;
  border-radius: 45px;
}

.main-content {
  display: grid;
  grid-template-areas:
    "decorate decorate"
    "main other"
    "main other"
    "main future";
  background-color: rgb(201, 8, 5);
  min-height: 80vh;
  width: min(2000px, 90%);
  margin: 0px auto;
  padding: 30px;
}

/*CIRCLES*/
.circles {
    position: relative;
}

.circles div {
    border-radius: 50%;
    background-color: var(--circle-color);
    outline: 2px solid black;
}

.big{
    width: 70px;
    height: 70px;
    --circle-color: rgb(37, 135, 239);
    border: 4px solid white;
}

.small {
    width: 25px;
    height: 25px;
}

.red {
    --circle-color: rgb(238, 13, 13);
}

.yellow {
    --circle-color: yellow;
}

.green {
    --circle-color: green;
}

h1{
    font-size: 35px;
}

#title {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0px;
  top: 10%;
  font-size: 50px;
}

/*MAIN SECTION*/

.main-section {
  display: grid;
  grid-template-rows: 8% 90%;
  background: rgb(125, 202, 220);
  border: 20px solid rgba(184, 182, 180, 0.834);
}

/*USER ACTIVITY*/

.user-activity {
  gap: 10px;
  padding: 0px;
  background-color: transparent;
}

.user-activity form,
form input {
  height: 100%;
  width: 100%;
}

form input {
  padding-left: 3%;
  border-radius: 10px;
}

input:focus, input:active{
    outline: 2px solid rgb(8, 95, 113);
}

input::placeholder, input {
    font-weight:bolder;
    text-transform: uppercase;
    font-family: "Sour Gummy";
    font-size: 20px;
}

/*MAIN CURRENT CONDITIONS*/
.current-conditions-main,
.current-conditions-main div, .day-card {
  flex-direction: column;
  align-items: center;
}

.current-conditions-main {
  justify-content: space-evenly;
}

.current-conditions-main img {
  width: 250px;
  height: auto;
}

#description {
  width: 60%;
  text-align: center;
}

/*OTHER CURRENT CONDITIONS*/
.others-section {
    border-bottom: 2px solid black;
    padding: 10px;
    justify-content: space-between;
    font-size: 20px;
}

.others-section svg {
    width: 30px;
}

.left svg {
    stroke: white;
    fill: var(--icon-color);
    margin-right: 5px;
}

#conditions {
    --icon-color:rgb(140, 140, 17);
}

#feels-like{
    --icon-color: red;
}

#humidity {
    --icon-color: blue;
}

#precipitation {
    --icon-color: rgb(63, 150, 179);
}

#wind-speed svg{
    --icon-color: white;
    stroke: black;
}

/*FORECAST SECTION*/

.future-forecasts h1,#others-title {
    margin-bottom: 15px;
    text-align: center;
}

.day-card{
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    background-color: rgba(247, 248, 245, 0.336);
    justify-content: space-around;
}

.day-card img {
    width: 100px;
    height: 100px;
}

.cards {
    gap: 10px;
    height: 80%;
    margin-bottom: 20px;
}

.cards .coldest {
    opacity: 0.8;
}