* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
    --largest-font-size: clamp(45px,2rem + 2.4vw, 65px);
    --medium-font-size: clamp(18px, 0.2rem + 1.5vw, 24px);
    --small-font-size: clamp(10px, 0.5rem + 1vw, 20px);
}


.flex {
  display: flex;
  gap: 5px;
}

.flex-ali {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

body {
  padding: 45px 60px;
  color: white;
  background-image: url(./img/background.jpg);
  background-size: cover;
  font-family: "Pixelify Sans";
}

.non-pixel {
    font-family: "Sour Gummy";
}

.main-section {
  grid-area: main;
}

.current-conditions-others {
  grid-area: other;
}

.future-forecasts {
  grid-area: future;
}

.circles {
    grid-area: decorate;
}

.box {
  background-color: rgba(3, 3, 3, 0.49);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

button {
  cursor: pointer;
  width: 70px;
  background-color: white;
  border-radius: 10px;
  font-family: "Sour Gummy";
  font-size: var(--medium-font-size);
  transition:0.5s;
}

button:hover {
    background-color: rgb(8, 95, 113);
    color: white;
}

#loading-screen {
    display:none;
    text-align: center;
    margin-top: 47%;
    font-size: var(--largest-font-size);
}

#loading-screen.loading {
    display: flex;
}

#pokeball {
    display: none;
    fill: white;
}
/*MAIN CONTAINER*/

.main-content,
.main-section {
  gap: 15px;
  padding: 10px;
  border-radius: 45px;
}

.main-content {
  display: grid;
  grid-template-areas:
    "decorate decorate"
    "main other"
    "main other"
    "main future";
  background-color: rgb(201, 8, 5);
  min-height: 80vh;
  width: min(2000px, 100%);
  margin: 0px auto;
  padding: 30px;
  outline: 5px solid black;
  border: 2px solid white;
  position: relative;
}

.main-content.loading {
    display: none;
}

/*CIRCLES*/

.circles div {
    border-radius: 50%;
    background-color: var(--circle-color);
    outline: 2px solid black;
}

.big{
    width: 70px;
    height: 70px;
    --circle-color: rgb(37, 135, 239);
    border: 4px solid white;
}

.small {
    width: 25px;
    height: 25px;
}

.red {
    --circle-color: rgb(238, 13, 13);
}

.yellow {
    --circle-color: yellow;
}

.green {
    --circle-color: green;
}

h1{
    font-size: 38px;
}

#title {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: var(--largest-font-size);
}

/*MAIN SECTION*/

.main-section {
  display: grid;
  grid-template-rows: 8% 90%;
  background: rgb(125, 202, 220);
  border: 20px solid rgba(184, 182, 180, 0.834);
}

/*USER ACTIVITY*/

.user-activity {
  gap: 10px;
  padding: 0px;
  background-color: transparent;
}

.user-activity form,
form input {
  height: 100%;
  width: 100%;
}

form input {
  padding-left: 3%;
  border-radius: 10px;
}

input:focus, input:active{
    outline: 2px solid rgb(8, 95, 113);
}

input::placeholder, input {
    font-weight:bolder;
    text-transform: uppercase;
    font-family: "Sour Gummy";
    font-size: var(--medium-font-size);
}

/*MAIN CURRENT CONDITIONS*/
.current-conditions-main,
.current-conditions-main div, .day-card {
  flex-direction: column;
  align-items: center;
}

.current-conditions-main {
  justify-content: space-evenly;
  font-size: var(--medium-font-size);
}

.current-conditions-main img {
  width: 250px;
  height: auto;
}



#location-title {
    font-size: clamp(35px, 1.5rem + 1.8vw, 50px);
}

#description {
  width: 60%;
  text-align: center;
}

/*OTHER CURRENT CONDITIONS*/
.others-section {
    border-bottom: 2px solid black;
    padding: 10px;
    justify-content: space-between;
    font-size: var(--medium-font-size);
}

.others-section svg {
    width: 30px;
}

.left svg {
    stroke: white;
    fill: var(--icon-color);
    margin-right: 5px;
}

#conditions {
    --icon-color:rgb(140, 140, 17);
}

#feels-like{
    --icon-color: red;
}

#humidity {
    --icon-color: blue;
}

#precipitation {
    --icon-color: rgb(63, 150, 179);
}

#wind-speed svg{
    --icon-color: white;
    stroke: black;
}

/*FORECAST SECTION*/

.future-forecasts h1,#others-title {
    margin-bottom: 15px;
    text-align: center;
}

.day-card{
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    background-color: rgba(247, 248, 245, 0.336);
    justify-content: space-around;
}

.day-card img {
    width: 100px;
    height: 100px;
}

.day-card div:first-of-type{
    gap: 0px;
}

.day-card .day-date {
    font-size: 20px;
}

.cards {
    gap: 10px;
    height: 80%;
    margin-bottom: 20px;
    display: flex;
}

.cards .coldest, .day-date {
    opacity: 0.8;
}


@media screen and (max-width: 1500px)
{
    body {
        background-image: none;
        background-color: rgb(11, 39, 65);
    }
    .main-content {
        grid-template-areas:
    "decorate decorate"
    "main other"
    "future future";
    }
    
    #pokeball{
        display: block;
        width: 200px;
        height: 200px;
    }

    #loading-screen {
        margin-top: 23%;
    }
}

@media screen and (max-width: 1100px)
{
    .cards{
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 950px)
{
    .main-content {
        grid-template-areas:
    "decorate"
    "main"
    "other"
    "future";
    padding: 2%;
    }

    body {
        padding: 2%;
    }

    #title {
        top: 20px;
        right: 20px;
    }

    .main-section{
        margin-top: 60px;
    }

    
}